{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><a href="{{ path('adminbooks_show', { 'id': book.id }) }}">{{ book.id }}</a></td>
                <td>{{ book.titre }}</td>
                <td>{{ book.auteur }}</td></br>
                <td>{{ book.categorie.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminbooks_show', { 'id': book.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adminbooks_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </br>
    <ul>
        <li>
            <a href="{{ path('adminbooks_new') }}">Create a new book</a>
        </li>
    </ul>
{% endblock %}
